/*linking 'BeautyDemo' font style*/

@font-face {
	font-family: 'BeautyDemo';
	src: url('../font/BeautyDemo.eot');
	src: local('BeautyDemo'), url('../font/BeautyDemo.woff') format('woff'), url('../font/BeautyDemo.ttf') format('truetype');
}

/*Navigation bar mobile first */
.nav-bar {
	display: block;
	flex-direction: column;
	color: #D5E6F7;
	}

.item {
  display: inline;
  margin: 0, auto;
  align-self: center;
}

.nav-bar ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

header {
	text-align: center;
	background-image: url("../img/BP011.jpg");
	background-size: cover;
	background-position: center;
	overflow: hidden;
	padding-top: 230px;
	padding-bottom: 40px;
}


	/* Header styling */



header h1 {
	font: 18vw sans-serif;
	font-family: 'BeautyDemo' !important;
	margin-top: 20px;
	margin-bottom: 5px;
	color: #660033;
	text-shadow: 2px 1px #240012;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

header p {
	font: bold 4.4vw sans-serif;
	color: #ECECEC;
	text-decoration:overline;
	text-shadow: 2px 1px black;
}

/* main navigation link styling and hover feature */

.nav-bar a {
  display: block;
  margin-bottom: 2px;
  padding: 5px 0;
  text-align: center;
  text-decoration: none;
	font-family: fantasy;
  /* font-weight: bold; */
	font-size: 1.3em;
  color: #D5E6F7;
  background: #b38a4d;
}

.nav-bar a:hover,
.nav-bar a:visited {
  color: white;
}

.nav-bar a:hover {
  text-decoration: underline;
}

/*Image containers styling*/


div img {
	margin: 2px;
	display: inline-block;
  max-width: 100%;
  max-height: 100%;

}

.card {
	border-color: white;
	}

.card:hover {
  opacity: .7;
	cursor: pointer;
}

.card-title {
	margin-top: 40%;
	font-weight: bold;
	font-size: 10vw;
	color:#FBFBFC;
	text-shadow: 2px 2px grey;
}

/*overlay content styling*/

#overlay1,
#overlay2,
#overlay3,
#overlay4,
#overlay5,
#overlay6 {
    position: relative;
    display: none; /* Hidden by default */
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.2); /* Black background with opacity */
    z-index: 4;
    cursor: pointer;
		list-style-type: none;
		font-weight: bold;
		padding-left: 20%;
		padding-top: 5%;
		font-size: 1.3em;

}

#main-content ul li a {
	color: white;
	font-style: bold;
	text-shadow: 1px 1px darkgrey;

}

/*Media Queries*/

@media only screen and (min-width: 576px) {


.nav-bar ul {
 	display: flex;
	flex-direction: row;
	width: 100%;
	margin: 0 0 0 1%;
	margin-bottom: 0;
}

.nav-bar li {
	width: 16%;
	padding: 5px;
	font-size: .85em;
}

.nav-bar li:first-child a {
	margin-left: 0;
}

.nav-bar li:last-child a {
	margin-right: 0;
}

header h1 {
	font-size: 120px;
}

header p {
	font-size: 24px;
}

.card-title {
	font-size: 5vw;
}

.row {
	max-width: 1000px;
	max-height: 450px;
	align-self: center;
}

#main-content ul li a {
	font-size: .75em;
	}
}

@media only screen and (min-width: 750px) {

	#overlay1,
	#overlay2,
	#overlay3,
	#overlay4,
	#overlay5,
	#overlay6 {
		padding-top: 20%;
	}

	#main-content ul li a {
		font-size: 1em;
		}
}

@media only screen and (min-width: 1005px) {

	/* header h1 {
		font-size: 12vw;
		margin-top: 20px;
		margin-bottom: 2px;
	}

	header p {
		font-size: 2vw;
	} */

	.card-title {
		font-size: 60px;
	}

	body {
	position: absolute;
	}

	#main-content {
		position: relative;
		align-self: center;
	}

		#main-content ul li a {
			font-size: 1.1em;
			}


	}
